.SummaryCard {
  max-width: 600px;
  margin: 30px auto;
  padding: 30px 30px 30px 120px;
  border-radius: 5px;
  position: relative;
}

.SummaryCard::before {
  content: ',,';
  position: absolute;
  left: 20px;
  top: -80px;
  font-size: 140px;
  font-family: auto;
  color: #ddd;
}
